services:
  workstation:
    image:  scottyhardy/docker-remote-desktop:latest
    restart: always
    environment:
      REGISTRY_HTTP_ADDR: :5000
      REGISTRY_STORAGE_DELETE_ENABLED: true


  gateway:
    build: ./
    restart: always
    privileged: true
    ports:
      - "8443:8443"
    volumes:
      - /var/run/libvirt:/var/run/libvirt
    depends_on:
      - workstation
